{% style %}
  /* 打包的 section styles */
{% endstyle %}

<div id="{{ section.id }}" ata-server-rendered="true">
  {% comment %} react_ssr_html {% endcomment %}
</div>

<script src="umd/react.development.js" defer></script>
<script src="umd/react-dom.development.js" defer></script>
<script
  src="umd/section-example.js"
  defer
  data-section-id="{{ section.id }}"
  data-section-settings="{{ section.settings | json }}"
></script>

{% schema %}
{
  "name": "example",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Hello World"
    },
    {
      "type": "text",
      "id": "description",
      "label": "Description",
      "default": "This is a description"
    }
  ]
}
{% endschema %}
